<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="wrap">
	<form id="reg-form" method="post">
		<label>用户名:</label>
		<input type="text" name="username" /><br/>

		<label>密码:</label>
		<input type="password" name="password" /><br/>

		<label>重复密码:</label>
		<input type="password" name="re-password" /><br/>
		<label></label>
		<input type="submit" name="submited" value="提交" />
	</form>
</div>