<div class="post-area">
	<form id="post-form" action="/post" method="post">
		<input type="text" name="post" class="post-input" />
		<input type="submit" name="submitted" class="post-submit" />
	</form>
</div>